<div class='row-fluid sub-box'>
  <%= form_tag(vote_choice_path(choice), :class => 'choice_vote', :remote => true) do %>
    <div class='span2'>
      <div class='choice-user-pic'>
        <% user = User.find(choice.neighbor_id) %>
        <%= image_tag user.image_url(:mini).to_s if user.image_url%>
      </div>
    </div>
    <div class='span5'>
      <div class='choice-text'>
        <%= label_tag(:choice, "#{choice.content}", :class => 'choice-text') %>
      </div>
    </div>
    <div class='span2'>
      <div class='choice-vote-count'>
        <%= label_tag(:choice, "#{choice.vote_count}",  :id => 'vote-border', :class => 'label vote_count') %>
      </div>
    </div>
    <div class='span2'>
      <div class='choice-vote'>
        <%= submit_tag("I Want This", :class => 'btn') %>
      </div>
    </div>
  <% end %>
</div>
