<div class='masthead'></div>
<%= render 'layouts/breadcrumb' %>
<div class='container'>    
  <div class='row-fluid'>
    <div class='span8 backyard-box'>
      <div class='form-horizontal listing-form'>
        <div class='control-group'>
          <% if current_user.type == 'Realtor'  %>
            <% if flash[:listing_error] %>
              <%= flash[:listing_error] %>
            <% end %>
        </div>
            <%= form_for (@listing) do |f|%>
        <div class='control-group'>
            <h1>Edit Your Listing</h1>
        </div>
        <div class='control-group'>
            <%= f.label :title, :class => 'control-label' %>
            <%= f.text_field :title, :class => 'controls' %>
        </div>
        <div class='control-group'>
            <%= f.label :description, :class => 'control-label' %>
            <%= f.text_area :description, :class => 'controls' %>
        </div>
        <div class='control-group'>
            <%= f.label :address, :class => 'control-label' %>
            <%= f.text_field :address, :class => 'controls' %>
        </div>
        <div class='control-group'>
            <%= image_tag @listing.image_url(:main) unless @listing.image.blank? %>
            <%= f.label :image, "Update Photo", :class => 'control-label' %>
            <%= f.file_field :image, :class => 'controls'  %>
        </div>
        <div class='control-group'>
            <%=f.hidden_field(:realtor_id, :value => current_user.id) %>
            <%= f.label :submit, :class => 'control-label' %>
            <%= f.submit "Edit Listing", :class => 'controls btn btn-info' %>
        </div>
          <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>

