<div class='masthead'></div>
<div class='container'>
  <div class='row-fluid'>
    <div class='span8'>
      <div class='backyard-box'>    
        <% if current_user.type == 'Realtor'  %>
        <% if flash[:listing_error] %>
        <div class='error-message'><%= flash[:listing_error] %></div>
        <% end %>
        <%= form_for @listing, :html => { :multipart => true, :class => 'form-horizontal' } do |f|%>
        <div class='control-group'>
          <h1>Create a Listing</h1>
        </div>
        <div class='control-group'>
          <%= f.label :title, :class => 'control-label' %>
          <%= f.text_field :title, :placeholder => 'e.g., "Sunny Corner Lot"', :class => 'controls' %>
        </div>
        <div class='control-group'>
          <%= f.label :description, :class => 'control-label' %>
          <%= f.text_area :description, :placeholder => 'e.g., "This former coffee shop is located right in the heart of beautiful Historic downtown Petaluma. It is approximately 1,700 square foot with a back area and a mezzanine."', :class => 'controls' %>
        </div>
        <div class='control-group'>
          <%= f.label :address,  :class => 'control-label' %>
          <%= f.text_field :address, :placeholder => 'e.g., "123 Main St."', :class => 'controls' %>
        </div>
        <div class='control-group'>
          <%= f.label :image, "Add Photo", :class => 'control-label' %>
          <%= f.file_field :image, :class => 'controls' %>
        </div>
        <%=f.hidden_field(:realtor_id, :value => current_user.id) %>
        <div class='control-group' id='hood-dropdown'>
          <%= f.label :neighborhood, "If you know it already, pick the neighborhood here...", :class => 'control-label' %>
          <%= select_tag(:neighborhood, options_from_collection_for_select(@neighborhoods, :id, :name), {:class => 'controls select', :multiple => true}) %>
        </div>
        <p class='alt_hood_find'> ...OR </p>
        <div class='control-group'>
          <%= label_tag :find_hood, "Click to find the neighborhood based on address", :class => 'alt_hood_find control-label' %>
          <%= button_tag "Find my hood", :id => 'find_hood', :class => 'btn btn-info controls', :type => 'button' %>
        </div>
        <div class='control-group'>
          <%= label_tag :end, "", :class => 'alt_hood_find control-label' %>
          <%= f.submit "Create My Listing!", :class => 'btn btn-success controls' %>
        </div>
        <% end %>
        <% end %>
      </div>            
    </div>
  </div>
</div>

