<div class='listing-form'>
<% if current_user.type == 'Realtor'  %>


<% if flash[:listing_error] %>
<%= flash[:listing_error] %>
<% end %>


  <%= form_for @listing do |f|%>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%=f.hidden_field(:realtor_id, :value => current_user.id) %>
    <%= f.label :neighborhood, "My Neighborhood", :class => 'control-label' %>
    <%= select_tag(:neighborhood, options_from_collection_for_select(@neighborhoods, :id, :name), {:class => 'controls'}) %><br><br>
    <%= f.submit "Create Listing" %>
  <% end %>

<% end %>
</div>
