<div class='masthead'></div>

<div class='container'>    
  <div class='row-fluid'>
    <div class='span12 backyard-box'>
      <div class='span4' id='listing-image'>
        <%= image_tag @listing.image_url(:main).to_s if @listing.image_url%>
      </div>
      <div class='span8'>
        <div id='choice'>
          <h1>what should i be?</h1>
          <p>vote here</p> 
          <div class="choices-listing-template">
            <%= render 'choices_voting_template' %>
          </div>
          <div class="choices-listing">
            <% @listing.choices.each do |choice| %>
              <%= render 'choices_voting_form', :choice => choice %>
            <% end %>
          </div>
          <%= render 'new_choice_form', :choice => @choice, :listing => @listing %>
        </div>
      </div>  
      
    </div>
  </div>
  <div class='row-fluid'>
    <div class='span6' id='listing-title'>
      <div id='listing'>
        <h3 class='subhead'>what am i?</h3>
        <h1><%= @listing.title %></h1>
        <h3><%= @listing.address %></h3>
        <h3 class='subhead'>details</h3>
        <%= @listing.description %>
        <h4><%= link_to "Edit Listing", edit_listing_path(@listing) %></h4>
      </div>
    </div>
    <div class='span6'>
      <div id='comment'>
        <h3 class='subhead'>add your two cents here.</h3>
        <h3><%= link_to 'Create Comment', new_comment_path(@listing) %></h3>
          <% @listing.comments.each do |comment| %>
          <% user = User.find(comment.user_id) %>
          <div class='comment-user-pic'>
            <%= image_tag user.image_url(:mini).to_s if user.image_url%>
          </div>
          <h3 class='comment'><%= comment.content %></h3>
          <% end %>
      </div>
    </div>
  </div>
</div>

