<div class='masthead'></div>
<div class='row-fluid'>
  <%= render 'layouts/breadcrumb' %>
  <h1><%= @listing.title %></h1>
  <%= image_tag @listing.image_url.to_s %>
  <% @listing.choices.each do |choice| %>
    <%= render 'choices_voting_form', :choice => choice %>
  <% end %>
  <%= render 'new_choice_form', :choice => @choice, :listing => @listing %>
</div>


