<div class='masthead'></div>
<div class='container'>
 <%= form_for @comment do |f|%>
    <%= f.label :comment %>
    <%= f.text_area :content, :size => "12x12" %>
    <%= f.hidden_field(:user_id, :value => current_user.id) %><br>
    <%= f.hidden_field(:listing_id, :value => @listing.id) %><br>
    <%= f.submit "Submit Comment" %>
  <% end %>
</div>