
  <%= form_tag(sessions_path, :method => 'post', :class => 'form-signin', :id => 'sign-in') do %>
  <h3 class='form-signin-heading'> Log in </h3>
  <div class='control-group'>
    <%= label_tag("user_email", "Email") %>
    <%= text_field_tag("user[email]") %>
  </div>
  <div class='control-group'>
    <%= label_tag("user_password", "Password") %>
    <%= password_field_tag("user[password]") %>
  </div>
  <div class='controls'>
    <%= submit_tag("Log In", :class => 'btn controls') %>
  </div>
  <% end %>
