<div class='span6'>
  <%= form_for user, :html => { :class => 'form-signin', :id => 'sign-up' } do |f| %>
  <h3 class='form-signin-heading'> Sign up </h3>
  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <%= f.text_field :username, {:required => true, :class => 'controls'} %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <%= f.text_field :email, {:required => true, :class => 'controls'} %>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <%= f.password_field :password, {:required => true, :class => 'controls'} %>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <%= f.password_field :password_confirmation, {:required => true, :class => 'controls'} %>
  </div>
  <div class="control-group">
    <%= f.label :type, "Are you a Realtor?", :class => 'control-label' %>
    <%= f.radio_button :type, 'Realtor', {:required => true, :class =>"radio"} %>
    <%= f.label :type, 'Yes', :value => 'Realtor', :class=>"label" %>
    <%= f.radio_button :type, 'Neighbor', :required => true, :class =>"radio" %>
    <%= f.label :type, 'No', :value => 'Neighbor', :class=>"label" %>
  </div>
  <div class="control-group">
    <%= f.label :neighborhood, "My Neighborhood", :class => 'control-label' %>
    <%= select_tag(:neighborhood, options_from_collection_for_select(@neighborhoods, :id, :name), {:class => 'controls'}) %>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit :class => 'btn controls' %>
    </div>
  </div>
  <% end %>
</div>
