<div class='masthead'></div>
<div class='container'>
  <div class='row-fluid'>
    <div class='span12'>
      <h1><%= @user.username %>'s Profile</h1>
      <span class='subtitle'><%= @user.type %></span>
        <%= button_to "Edit Profile", edit_user_path(@user), {:method => :get, :class => 'btn'} %>
    </div>
  </div>
  <div class='row-fluid'>
    <div class='span6 profile'>
      <div class="well well-small">
        Profile Pic
      </div>
      <%= image_tag @user.image_url(:thumb).to_s if @user.image_url%>
      <% if @user.image_url %>
      <div class='update_user_image'>
        <%= form_for @user, :url => add_user_photo_path(@user) do |f| %>
          <%= f.label :image, "Change Your Photo" %>
          <%= f.file_field :image %>
          <%= f.submit "Update Photo" %>
        <% end %>
      </div>
      <% else %>
      <div class='add_user_image'>
        <%= form_for @user, :url => add_user_photo_path(@user) do |f| %>
          <%= f.label :image, "Upload a Photo" %>
          <%= f.file_field :image %>
          <%= f.submit "Add Photo" %>
        <% end %>
      </div>
      <% end %>
    </div>
    <div class='span6 profile'>
      <div class="well well-small">
        My neighborhoods
      </div>
      <% @user.neighborhoods.each do |n|  %>
        <%= link_to n.name, neighborhood_path(n), :class => "label label-success" %>
      <% end %>
    </div>  
  </div>
  <div class='row-fluid'>    
    <div class='span6'>
      <% if @user.type == 'Realtor' %>
      <h2>Open Listings</h2>
      <table class='table table-striped'>
        <tr>
          <th>Listing Title</th>
          <th></th>
          <th></th>
        </tr>
        <% @user.listings.each do |listing| %>
          <% if listing.status == 'active' %>
          <tr>
            <td><%= link_to "#{listing.title}", listing_path(listing)  %></td>
            <td><%= button_to "Edit Listing", edit_listing_path(listing), { :method => :get, :class => 'btn' }  %></td>
            <td><%= button_to "Close Listing", close_listing_path(listing), { :method => :get, :class => 'btn' } %></td>
          </tr>
          <% end %>
        <% end %>  
      </table>
    </div>
    <div class='span6'>
      <h2>Closed Listings</h2>
      <table class='table table-striped'>
        <tr>
          <th>Listing Title</th>
          <th></th>    
        </tr>
        <% @user.listings.each do |listing| %>
          <% if listing.status == 'inactive' %>
            <tr>
              <td><%= link_to "#{listing.title}", listing_path(listing)  %></td>
              <td><%= link_to "Reopen Listing", reopen_listing_path(listing), { :class => 'btn' } %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <% end %>
    </div>
  </div>
