


<div class='front-page'
  <ul class='imagine'>
    <li><strong>Imagine.</strong></li>
  </ul>
</div>


  <ul class='power'>
    <li>The power to choose your <strong>ShopNextDoor</strong></li>
  </ul>

<div class = 'later'>
   <ul class='log-in'>
    <li id='log-in'><a href="#">Log In</a></li>
    <li id='sign-up1'><a href="#">Sign Up</a></li>
  </ul>  
</div>

<div class='hidden' id='sign-up-form'>
  <%= render 'users/user_form', :user => @user %>
</div>

<div class='hidden' id='log-in-form'>
  <%= render 'users/user_signin_form', :user => @user %>
</div>





<!-- 
<div id='welcome-nav'>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <ul class='nav'>
      <li><h1>Shop Next Door.</h1></li>
    </ul>
  </div>
</div>

  <div class='container-fluid' id='welcome-container'>
    <% if current_user %>
      <h3 id='welcome-hood'><%= link_to 'Take me to my Neighborhood', neighborhood_path(current_user.neighborhoods.first.id)%></h3>
    <% end %>
  </div>
  <div class='row-fluid'>
    <div class='span8'>
      <div id='store-slider'>
          <div class='slider-container'>
            <ul class="stores">
              <li id="store-coffee" class='store-pic'>
                <img src='assets/storefront-coffee.gif' />
              </li>
              <li id="store-pizza" class='store-pic'><img src='assets/storefront-pizza.gif' />
              </li>
              <li id="store-drugstore" class='store-pic'>
                <img src='assets/storefront-drugstore.gif' />
              </li>
              <li id="store-yoga" class='store-pic'>
                <img src='assets/storefront-yoga.gif' />
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div class='span4'>
      <div id='welcome-tagline'>
        <h3>Vote on which business should come to your neighborhood.</h3>
      </div>
      <div id='welcome-bar'>
        <% if current_user %>
          <h3 id='welcome-hood'><%= link_to 'Take me to my Neighborhood', neighborhood_path(current_user.neighborhoods.first.id)%></h3>
        <% end %>
 
      </div>  
      <% if !current_user %>
        <div id='welcome-signin'>
          <%= render 'users/user_signin_form', :user => @user %>
        </div>
        <div id='welcome-signin'>
          <%= render 'users/user_form', :user => @user %>
        </div>
      <% end %>
    </div>
  </div>
</div> -->

