<div class='masthead'></div>
<%= render 'layouts/breadcrumb' %>
<div class='container' id='neighborhood'>
  <div class='row-fluid'>
    <div class='span6'>  
      <div class='backyard-box'>
        <h1 class='subhead'>neighborhood</h1>
        <h1><%= @hood.name %></h1>
      </div>
      <div class='backyard-box'>
        <div id='neighborhood-listings'>
          <h1 class='subhead'>listings available</h1>
          <% @listings.each do |listing| %>
            <div class='sub-box'>
              <h3><a href="/listings/<%= listing.id %>"><%= listing.title %></a></h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class='span6'>
      <div id="map-canvas" data-hood="<%=@hood.name %>" data-listings="<%= @hood.listings.to_json %>" />
    </div>
</div>

