<!DOCTYPE html>
<html>
<head>
  <title>Hood</title>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDptMR6xnHBRufnYLWlnEWrZs75Zt37WTo&sensor=false">
    </script>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "backyard", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap-responsive", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= javascript_include_tag "maps" %>
  <%= csrf_meta_tags %>
</head>
<body id='application'>
  <%= render '/layouts/nav_top' %>
  <%= yield %>
</body>
</html>

