<!DOCTYPE html>
<html>
<head>
  <title>Hood</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "backyard", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap-responsive", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body id="welcome-page">

<%= yield %>

</body>
</html>
